@model IEnumerable<Issues.Models.WorkTime>

@{
    ViewBag.Title = "Index";
}

<h2>Logged time</h2>

<table class="table">
    <tr>
        <th>
            Issue
        </th>
        <th>
            Time spent
        </th>
        <th>
            Date
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Issue.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
    }

</table>
